.container{
	margin: 50px;
	padding: 50px;
	background-color: #FFFFFF;
}

.padding{
	padding-top: 50px;
}

.borda_texto{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-size: 3em; color: #FFFFFF;
}